<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.notice.NoticeMapper">

	<select id="NoticeList" resultType="com.smhrd.notice.NoticeVO">
		SELECT * FROM tb_notice
	</select>


	<select id="getNotice" parameterType="int" resultType="com.smhrd.notice.NoticeVO">
	    SELECT * FROM tb_notice WHERE notice_idx = #{notice_idx}
	</select>



</mapper>